@import '../variables';

.friends {
	.title {
		color: #fff;
	}

	&__list {
		display: flex;
		gap: 20px;
		padding: 20px 20px 15px 20px;

		a {
			padding: 0;
			&:hover {
				background-color: $mainPurple;
			}
		}
	}
}
