.header {
	background-color: #2f0e44;
	margin-bottom: 15px;

	.logo {
		margin-left: 20px;
		display: flex;
		gap: 20px;
		align-items: center;
		img {
			width: 80px;
		}

		.title {
			text-transform: uppercase;
			letter-spacing: 5px;
			color: #ffa8c3;
			font-weight: 700;
			font-size: 26px;
		}
	}
}
