@import '../variables.scss';

.nav {
	background-color: $mainPurple;

	.list {
		a {
			display: block;
			padding: 20px 20px 15px 20px;
			color: $accentPink;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 3px;
			transition: color 0.15s ease-in-out;

			&:hover {
				color: #fff;
			}
			&:active {
				color: $accentPink;
			}
		}
	}
}
