@import '../variables';

.pagination {
	display: flex;
	justify-content: space-between;

	.pageItem {
		cursor: pointer;
	}

	.previous,
	.next {
		cursor: pointer;
		background-color: $lightPurple;
		border-radius: 50%;
	}

	.active {
		background-color: $mainAction;
		border-radius: 5px;
		a {
			color: $contentBG;
		}
	}
}
