@import '../variables.scss';

.dialogs__wrapper {
	display: flex;
	gap: 20px;
	// justify-content: space-between;
	height: 80vh;
	h2 {
		font-size: 24px;
		padding: 20px;
	}
	.dialogs {
		background-color: $lightPurple;

		.list {
			width: 300px;
			height: 88%;
			overflow: auto;
		}
	}

	.messages__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: auto;
	}
	.communication {
		background-color: $lightPurple;
		padding: 20px;
		display: flex;
		align-items: center;
		gap: 20px;
		.input {
			@extend %input;
		}

		.btn {
			@extend %button;
			margin-bottom: 7px;
		}
	}
}
