@import url(./scss/_normalize.scss);

body {
	font-family: 'Arvo', serif;
	font-size: 18px;
	// background-color: rgba(98, 34, 84, 0.5);
	// background-color: #a5c26e;
}

.container {
	width: 1200px;
	margin: 0 auto;
	min-height: 100vh;
}

.header {
	background-color: #2f0e44;
	margin-bottom: 15px;

	.logo {
		margin-left: 20px;
		display: flex;
		gap: 20px;
		align-items: center;
		img {
			width: 80px;
		}

		.logo__title {
			text-transform: uppercase;
			color: #ffa8c3;
		}
	}
}

.nav {
	background-color: #2f0e44;
	min-width: 150px;
	padding: 20px;

	a {
		color: #ffa8c3;
		text-transform: uppercase;
	}
}

.content__wrapper {
	display: flex;
	gap: 15px;
}
.content {
	// background-color: rgba(90, 61, 145, 0.2);
	// background-color: #dfd2dc;
	background-color: #ded8e9;
	padding: 20px;
	width: 100%;

	.profile__info {
		display: flex;
		gap: 30px;
		margin-bottom: 50px;

		.avatar {
			width: 300px;
			img {
				width: 100%;
			}
		}
	}

	.post {
		.post__wrapper {
			background-color: #c4b2e4;
			padding: 15px;
			margin-bottom: 20px;

			h3 {
				margin-bottom: 10px;
			}
			.addPost {
				&__input {
					height: 50px;
					width: 100%;
					font-family: 'Arvo', serif;
					font-size: 18px;
				}

				&__btn {
					margin-top: 10px;
					font-family: 'Arvo', serif;
					background-color: #2f0e44;
					color: #fff;
					border: none;
					padding: 10px;
					cursor: pointer;
					text-transform: uppercase;
					font-size: 16px;
					transition: background 0.15s ease-in-out;

					&:hover {
						background-color: rgba(47, 14, 68, 0.8);
					}
					&:active {
						background-color: #2f0e44;
					}
				}
			}
		}

		.post__item {
			display: flex;
			gap: 20px;
			align-items: center;
			// background-color: #a6b5e2;
			background-color: #c4b2e4;
			padding: 15px;

			.img {
				width: 60px;
				border-radius: 50%;
			}

			.name {
				font-size: 20px;
				margin-bottom: 7px;
			}
		}
	}
}
