$mainPurple: rgb(47, 14, 68);

$mainAction: #4c2e63;

$lightPurple: #c4b2e4;

$accentPink: #ffa8c3;

$contentBG: #ded8e9;

%hover {
	background-color: $mainAction;
	color: #fff;
}
%active {
	background-color: $mainPurple;
	color: $accentPink;
}

%input {
	height: 50px;
	width: 100%;
	font-family: 'Arvo', serif;
	font-size: 18px;
	padding: 10px;
	border: none;
}

%button {
	margin-top: 10px;
	font-family: 'Arvo', serif;
	background-color: $mainPurple;
	color: $accentPink;
	border: none;
	padding: 15px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
	transition: background 0.15s ease-in-out, color 0.15s ease-in-out;

	&:hover {
		@extend %hover;
	}

	&:active {
		@extend %active;
	}
}
