@import './libs/_normalize';
@import 'variables';

body {
	font-family: 'Arvo', serif;
	font-size: 18px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	min-height: 100vh;
}
.content__wrapper {
	display: flex;
	gap: 15px;

	.content {
		background-color: $contentBG;
		padding: 20px;
		width: 100%;
	}
}
